/* Inserte su codigo aqui */

.hero .container{
     background-color:#fcce09;
    height: 450px;
}


header span {
   
    background-color: #fcb739;
    padding-left: 13px;
    padding-right: 13px;
    padding-bottom: 5px;
    padding-top: 5px;
   position: absolute;
    top: 60px;
    left: 100px;
    color: white;
}
header ul{
    text-decoration: none;
    position: relative;
}
header ul li {
    display: inline-block;
    position: relative;
    left: 730px;
    top: 30px;
    font-size: 12px;
    padding-left: 18px;
    color: white;
    
}
.hero h1{
    color: white;
    text-align: center;
    font-size: 25px;
    margin-top: 160px;
    
}
.hero .titulo {
    text-align: center;
    
}
.hero small{
    position: relative;
    top: -30px;
    font-size: 12px;
    color: white;
    
}

.relleno .caja1  {
    width: 400px;
    height: 460px;

    margin-left: 130px;
    margin-top: 100px;
    padding-top: 1px;
    background-color: white;
    margin-bottom: 15px;
    
}
.relleno .caja2  {
    width: 400px;
    height: 460px;
    margin-top: 100px;
    padding-top: 1px;
    background-color: white;
    margin-bottom: 15px;
    margin-left: 8px;
    
}
.relleno .caja3  {
    width: 400px;
    height: 460px;
    margin-left: 130px;
    margin-top: 30px;
    padding-top: 1px;
    background-color: white;
    margin-bottom: 15px;
    
}
.relleno .caja4  {
    width: 400px;
    height: 460px;
    margin-left: 8px;
    margin-top: 30px;
    padding-top: 1px;
    background-color: white;
    margin-bottom: 15px;
    
}
.relleno .caja1  .cajainterior {
    width: 270px;
    height: 270px;
    margin: 0 auto;
    background-color: darkgrey;
    
}
.relleno .caja2  .cajainterior {
    width: 270px;
    height: 270px;
    margin: 0 auto;
    background-color: darkgrey;
    
}
.relleno .caja3  .cajainterior {
    width: 270px;
    height: 270px;
    margin: 0 auto;
    background-color: darkgrey;
    
}
.relleno .caja4  .cajainterior {
    width: 270px;
    height: 270px;
    margin: 0 auto;
    background-color: darkgrey;
    
}
.relleno .col-md-6{
    background-color: #eaeae9;
    
}
.relleno .caja1 .cajainterior h2{
    font-size: 20px;
    text-align: center;
    position: relative;
    top: 100px
    
}
.relleno .caja2 .cajainterior h2{
    font-size: 20px;
    text-align: center;
    position: relative;
    top: 100px
    
}
.relleno .caja3 .cajainterior h2{
    font-size: 20px;
    text-align: center;
    position: relative;
    top: 100px
    
}
.relleno .caja4 .cajainterior h2{
    font-size: 20px;
    text-align: center;
    position: relative;
    top: 100px
    
}
.relleno span {
    background-color: #fcb739;
    color: white;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 10px;
    position: relative;
    left: 160px;
}
.relleno h1{
    font-size: 23px;
    padding-left: 5px;
    color: #868688;
}
.relleno p{
    margin-left: 12px;
    color: #d5d8df;
    margin-right: 8px;
}
footer ul {
    text-decoration: none;
    list-style: none;
}
footer li {
    display: inline-block;
    color:white;

}
footer .container
{
    background-color:#262624;
    padding-bottom: 45px;
    padding-top: 20px;
    
   
}